{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}"> {% endblock css %}

{% block title %} Accueil {% endblock %}

{% block main %}

   {# Presentation section #}

   <section id="presentation-image">
       <div class="row">
           {# Presentation image of the restaurant #}
           <article class="col-12 restaurant-img">
               <div class="row d-flex justify-content-center align-items-center text-center text-white font-italic h-100">
                   <div class="col-8 col-md-3 presentation-address rounded">
                       <h1 class="pt-3"><img src="{{ asset('assets/icons/logo-white.svg') }}" alt="Logo du restaurant Le Quai Antique" width="200"></h1>
                       {# Presentation address #}
                       <p>5 Quai du Jeu de Paume 73000 Chambéry</p>
                   </div>
               </div>
           </article>
       </div>
   </section>

    <section class="container my-5" id="presentation-text">
        <article class="row d-flex justify-content-center align-items-center mt-3">
            <div class="col-12 card presentation-card">
                <div class="card-body text-justify">
                    <h2 class="welcome-title d-flex flex-wrap">Bienvenue chez Le Quai Antique</h2>
                    <p class="text-justify presentation-text">Implanté en plein coeur de Chambéry, le Quai Antique constitue le troisième restaurant du chef Arnaud Michant.
                        Celui-ci a pour but de vous faire découvrir, au déjeuner comme au dîner, une expérience gastronomique à travers une cuisine sans artifice.
                    </p>
                </div>
            </div>
        </article>
    </section>

    <hr>

    {# Concept section #}

    <section class="container my-5 h-100" id="concept">
        <div class="row d-flex justify-content-center align-items-center">
            {# Concept text #}
            <article class="col-12 col-md-6">
                <div class="d-block mx-auto">
                    <h2 class="text-center">Le Concept</h2>
                </div>
                <div class="card card-concept-chef my-4 p-2">
                    <div class="card-body text-justify text-white">
                        <p>
                        Facile d’accès, le Quai Antique est un lieu de convivialité proposant des plats typiques
                        savoyards remis au goût du jour dans un cadre moderne.
                        </p>
                        <p>
                        Tous nos plats sont élaborés sur place uniquement à base de produits frais issus
                        des meilleurs producteurs locaux.
                        </p>
                        <p>
                        Nous proposons également d’autres spécialités comme des burgers et des salades afin de
                        satisfaire tous les palais.
                        </p>
                    </div>
                </div>
            </article>
            {# Concept image #}
            <article class="col-12 col-md-6 d-flex justify-content-center">
                <div class="mx-3">
                    <img src="{{ asset('assets/images/concept-img.png') }}" width="350" height="350" alt="dressage des plats élaborés sur place uniquement à base de produits frais issus des meilleurs producteurs locaux">
                </div>
            </article>
        </div>
    </section>

    <hr>

    {# Chef section #}

    <section class="container my-5 h-100" id="chef">
        <div class="row d-flex justify-content-center align-items-center chef">
            {# Chef image #}
            <article class="col-12 col-md-6 d-flex justify-content-center chef-img">
                <div class="mx-3">
                    <img src="{{ asset('assets/images/chef-img.png') }}" width="350" height="350" alt="chef Arnaud Michant">
                </div>
            </article>

            {# Chef text #}
            <article class="col-12 col-md-6 chef-text">
                <div class="d-block mx-auto">
                    <h2 class="text-center mb-3">Arnaud Michant</h2>
                </div>
                {# Chef card #}
                <div class="card card-concept-chef my-4 p-2">
                    <div class="card-body text-justify text-white">
                        <p>
                            Le Chef Arnaud Michant aime passionnément les produits de Savoie. C’est pourquoi il a
                            décidé d’ouvrir son troisième restaurant dans ce département.
                        </p>
                        <p>
                            Plus encore que ses deux autres restaurants Arnaud Michant le voit comme la promesse
                            d’un voyage dans son univers culinaire.
                        </p>
                        <div class="d-flex flex-wrap">
                            <span class="mr-2">Découvrir :</span>
                            <a href="#" target="_blank" class="mr-3 text-decoration-none restaurant-link">La Maison Michant,</a>
                            <a href="#" target="_blank" class="text-decoration-none restaurant-link">Le Goût Pur</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <hr>

    {# Photos dishes gallery #}

    <section class="container my-5" id="gallery">
        <div class="row d-flex justify-content-center">
            {# Title #}
            <div class="col-12 d-flex justify-content-center">
                <h2 class="text-center mr-5 mb-4">Les plats favoris</h2>
                {% if(admin) %}
                    <a href="{{ path('app_admin_dishes') }}" class="mt-1 mr-5"> Voir la liste des plats</a>
                    <a href="{{ path('app_home') }}#top"><img src="{{ asset('assets/icons/top.svg') }}" alt="flèche pour un retour en haut de la page" width="25" title="Haut de la page"></a>
                {% endif %}
            </div>

            {# Photos gallery #}
            <article class="col-12 mt-1">
                {# Create a dish button if admin is logged in #}
                {% if(admin) %}
                    <div class="row my-3">
                        <div class="col-12 d-flex justify-content-center">
                            <a href="{{ path('app_admin_create_dish') }}" class="btn btn-admin w-100 p-2">Ajouter un plat</a>
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-1">
                    {% for favoriteDish in favoriteDishes %}
                        <div class="col-md-4 mb-2">
                            <a href="{{ asset('assets/images/uploads/' ~ favoriteDish.image) }}" data-toggle="lightbox" data-gallery="photos-gallery" data-title="{{ favoriteDish.title }}">
                                <span class="caption-photo">{{ favoriteDish.title }}</span>
                                <span class="bg"></span>
                                <img src="{{ asset('assets/images/uploads/'~ favoriteDish.image) }}" alt="{{ favoriteDish.title }}" class="img-fluid img-gallery">
                            </a>
                            {# update & delete buttons if admin is logged in #}
                            <div class="row d-flex align-items-center m-0">
                                {% if(admin) %}
                                    <a class="btn btn-admin px-3 p-2 w-50" href="{{ path('app_admin_update_dish', {'id': favoriteDish.id }) }}">Modifier</a>
                                    {# Delete button #}
                                    <form class="w-50" method="POST" action="{{ path('app_admin_delete_dish', {'id': favoriteDish.id }) }}" onsubmit="return confirm('Confirmez-vous la suppression de ce plat ?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('REMOVE' ~ favoriteDish.id) }}">
                                        <input type="submit" class="btn btn-admin px-3 p-2 w-100" value="Supprimer">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {# Link to the booking page #}
                <div class="mt-4 d-flex justify-content-center">
                    <a class="btn btn-custom" href="{{ path('app_booking') }}">Réserver</a>
                </div>
            </article>
        </div>
    </section>

    {% block javascripts %}
        <script src="{{ asset('assets/javascript/home.js') }}"></script>
    {% endblock %}

{% endblock main %}
