{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/opening.css') }}"> {% endblock css %}

{% block title %} Administration des horaires {% endblock %}


{% block main %}

    <section id="opening">
        <div class="row opening-list d-flex justify-content-center">
            <article class="container h-100">
                <div class="row text-white d-flex justify-content-center align-items-center mx-1 my-md-5">
                    <div class="col-12 list-bg rounded p-2 p-md-4 my-md-5 ">

                        {# Flash messages #}
                        <div class="row d-flex justify-content-center confirm-message text-center mt-2 font-weight-bold">
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                {% if ( label == 'success' ) %}
                                    {# Success message  #}
                                    <div class="col-md-6 alert alert-success alert-dismissible fade show" role="alert">
                                        {{ flash }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                                    </div>
                                {% elseif ( label == 'error' ) %}
                                    {# Error message  #}
                                    <div class="col-md-6 alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ flash }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </div>

                        {# Title #}
                        <div class="py-2 mb-3">
                            <h1 class="page-title">Administration des horaires</h1>
                            <h2 class="text-center">Administration des horaires</h2>
                        </div>

                        {# Table with the hours #}
                        <table class="table table-bg">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Id</th>
                                <th scope="col" class="text-center">Début du service</th>
                                <th scope="col" class="text-center">Fin du service</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for openinghour in ascendingOpeninghours %}
                                <tr>
                                    <th scope="row" class="text-center">{{ openinghour.id }}</th>
                                    <td class="text-center">{{ openinghour.starthour|date("H:i") }}</td>
                                    <td class="text-center">{{ openinghour.endhour|date("H:i") }}</td>
                                    <td class="text-center">
                                        <span class="d-flex justify-content-center">
                                            {# Update an opening hour button #}
                                            <a class="btn btn-admin mr-2" href="{{ path('app_admin_update_openingHours', {'id': openinghour.id}) }}">
                                                <img src="{{ asset('assets/icons/edit.svg') }}" alt="Modifier un horaire" width="15">
                                            </a>
                                            {# Delete an opening hour button #}
                                            <form method="POST" action="{{ path('app_admin_delete_openingHours', {'id': openinghour.id }) }}" onsubmit="return confirm('Confirmer la suppression de l\'horaire')" >
                                                <input type="hidden" name="_method" value="delete">
                                                <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ openinghour.id) }}">
                                                <button type="submit" class="btn btn-admin">
                                                    <img src="{{ asset('assets/icons/trash.svg') }}" alt="Supprimer un horaire" width="15">
                                                </button>
                                            </form>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {# Create a new opening hour button #}
                        <div class="text-center mb-5">
                            <a href="{{ path('app_admin_create_openingHours') }}" class="btn btn-admin w-100">
                                <img src="{{ asset('assets/icons/add.svg') }}" alt="Ajouter un nouvel horaire" width="28">
                                Ajouter un horaire
                            </a>
                        </div>

                        {# Display navigation for a pagination #}
                        <div class="navigation mt-2 d-flex justify-content-center">
                            {{ knp_pagination_render(ascendingOpeninghours) }}
                        </div>
                    </div>

                </div>
            </article>

        </div>
    </section>

    {% block javascripts %}
        <script src=""></script>
    {% endblock %}

{% endblock main %}