{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/opening.css') }}"> {% endblock css %}

{% block title %} Administration des horaires {% endblock %}


{% block main %}

    <section id="opening">
        <div class="row opening-list">

            <article class="container h-100">
                <div class="row text-white d-flex justify-content-center align-items-center mx-1 my-md-4">
                    <div class="col-12 list-bg rounded p-2 p-md-4 my-md-4">

                        {# Title #}

                        <div class="py-3">
                            <h1 class="page-title">Administration des horaires </h1>
                            <h2 class="text-center mb-4">Administration des horaires </h2>
                        </div>

                        {# Table #}

                        <table class="table table-bg">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Id</th>
                                <th scope="col" class="text-center">Jour</th>
                                <th scope="col" class="text-center">Début du service</th>
                                <th scope="col" class="text-center">Fin du service</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            {# Days of the week #}
                            {% for openingday in openingdays %}
                                {% for openinghour in openingday.openinghours %}
                                    <tr>
                                        <th scope="row">{{ openingday.id }}</th>
                                        {% if openinghour.starthour|date("H:i") <= "14:00" %}
                                            <td class="text-center">{{ openingday.day|capitalize }} midi</td>
                                        {% else %}
                                            <td class="text-center">{{ openingday.day|capitalize }} soir</td>
                                        {% endif %}
                                        <td class="text-center">{{ openinghour.starthour|date("H:i") }}</td>
                                        <td class="text-center">{{ openinghour.endhour|date("H:i") }}</td>
                                        <td class="text-center">
                                            <span class="d-flex justify-content-center">
                                                {# Update  #}
                                                <a class="btn btn-admin mr-2" href="">
                                                    <img src="{{ asset('assets/icons/edit.svg') }}" alt="modifier l'horaire" width="15">
                                                </a>
                                                {# Delete #}
                                                <form method="POST" action="" onsubmit="return confirm('Confirmer la suppression de l\'horaire')" >
                                                    <button type="submit" class="btn btn-admin">
                                                        <img src="{{ asset('assets/icons/trash.svg') }}" alt="supprimer l'horaire" width="15">
                                                    </button>
                                                </form>
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    {# Display navigation for a pagination #}
                    <div class="navigation ">
                        {{ knp_pagination_render(openingdays) }}
                    </div>

                </div>
            </article>

        </div>
    </section>





    {% block javascripts %}
        <script src=""></script>
    {% endblock %}

{% endblock main %}