{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/food.css') }}"> {% endblock css %}

{% block title %} La carte {% endblock %}


{% block main %}

    {# Food presentation section #}

    <section id="food-presentation">
        <div class="row">
            {# Food image #}
            <article class="col-12 food-bg">
                <h1 class="page-title">La Carte</h1>
            </article>
        </div>
    </section>

    {#  #}

    {% for category in categories %}

    <section class="container my-5 h-100" id="food">
        {% if category.title == 'entrées' or category.title == 'desserts' or category.title == 'salades' %}
        <div class="row">

            {# Category image #}

            <article class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{{ asset('assets/images/starters-img.png') }}" width="350" height="350" alt="photo exemple d'une entrée" class="category-img">
            </article>


            {# Dishes list #}
            <article class="col-md-6">
                <div class="d-block mx-auto">
                    <h2 class="text-center">{{ category.title|capitalize }}</h2>
                </div>

                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-10">
                        <div class="card card-food my-4">
                            <div class="card-body text-white ml-3">
                                {% for dish in dishes %}
                                    {% if category.id == dish.category.id %}
                                    <span class="dishes">
                                        <span class="font-weight-bold">{{ dish.title }}</span> - {{ dish.price }} €
                                        {{ dish.description }}
                                    </span>
                                    {% endif  %}
                                {% endfor  %}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        {% else %}
        <div class="row d-flex flex-row-reverse">

            {# Category image #}
            <article class="col-md-6 d-flex justify-content-center align-items-center ">
                <img src="{{ asset('assets/images/starters-img.png') }}" width="350" height="350" alt="photo exemple d'une entrée" class="category-img">
            </article>


            {# Dishes list  #}
            <article class="col-md-6">
                <div class="d-block mx-auto">
                    <h2 class="text-center">{{ category.title|capitalize }}</h2>
                </div>

                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-10">
                        <div class="card card-food my-4">
                            <div class="card-body text-white ml-3">
                                {% for dish in dishes %}
                                    {% if category.id == dish.category.id %}
                                        <span class="dishes">
                                            <span class="font-weight-bold">{{ dish.title }}</span> - {{ dish.price }} €
                                        {{ dish.description }}
                                    </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        {% endif %}
    </section>

    <hr>

    {% endfor %}


    {% block javascripts %}
        <script src=""></script>
    {% endblock %}

{% endblock main %}