{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/booking.css') }}"> {% endblock css %}

{% block title %} Réservation {% endblock %}


{% block main %}

    {# Booking section #}

    <section id="booking">
        <div class="row booking-bg">
            {# Booking background image #}
            <article class="container h-100 my-4 my-md-5">

                <div class="row d-flex justify-content-center align-items-center text-white">
                    <div class="col-11 col-md-8 rounded form-bg m-1">
                        <div class="row form-content py-4 h-100 d-flex justify-content-center align-items-center mx-1">
                            <div class="col-12">

                                {# Flash success or error messages  #}

                                <div class="confirm-message text-center mt-2 font-weight-bold">
                                    {% for label, flashes in app.session.flashbag.all %}
                                        {% for flash in flashes %}
                                            {% if ( label == 'success' ) %}
                                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                    {{ flash }}
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                                                </div>
                                            {% elseif ( label == 'error' ) %}
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    {{ flash }}
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>

                                {# Title #}

                                <h2 class="text-center pb-4">Réservation</h2>
                            </div>

                            {# Number of the remaining places #}

                            <a href="{{ path('app_bookings') }}" class="btn btn-primary js-bookings">Afficher les réservations</a>
                            <ul class="displayBookings list-unstyled"></ul>

                            {# Booking form #}

                            <div class="col-12">
                                {{ form_start(form) }}
                                <div class="row d-flex justify-content-center">
                                    {# Number of guests #}
                                    <div class="col-md-6 guests">
                                        {{ form_row(form.guest, {'attr': {'id': 'guest'}}) }}
                                    </div>
                                    {# Day #}
                                    <div class="col-md-6">
                                        {{ form_row(form.bookedAt) }}
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center">
                                    {# Noon hours #}
                                    <div class="col-12 my-2" id="noon-monday">
                                        <p>Lundi midi :</p>
                                        {% for noonHourMonday in noonHoursMonday %}
                                            <div class="btn-group btn-group-toggle " data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1 ">
                                                    <input type="radio" id="noonHourMonday" name="startAt" value="{{ noonHourMonday }}" class="start-at"> {{ noonHourMonday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="col-12 my-2" id="noon-tuesday">
                                        <p>Mardi midi :</p>
                                        {% for noonHourTuesday in noonHoursTuesday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="noonHourTuesday" name="startAt" value="{{ noonHourTuesday }}" class="start-at"> {{ noonHourTuesday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-wednesday">
                                        <p>Mercredi midi :</p>
                                        {% for noonHourWednesday in noonHoursWednesday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="noonHourWednesday" name="startAt" value="{{ noonHourWednesday }}" class="start-at"> {{ noonHourWednesday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-thursday">
                                        <p>Jeudi midi :</p>
                                        {% for noonHourThursday in noonHoursThursday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="button">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="noonHourThursday" name="startAt" value="{{ noonHourThursday }}" class="start-at"> {{ noonHourThursday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-friday">
                                        <p>Vendredi midi :</p>
                                        {% for noonHourFriday in noonHoursFriday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="noonHourFriday" name="startAt" value="{{ noonHourFriday }}" class="start-at"> {{ noonHourFriday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-saturday">
                                        <p>Samedi midi :</p>
                                        {% for noonHourSaturday in noonHoursSaturday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="noonHourSaturday" name="startAt" value="{{ noonHourSaturday }}" class="start-at"> {{ noonHourSaturday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-sunday">
                                        <p>Dimanche midi :</p>
                                        {% for noonHourSunday in noonHoursSunday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="noonHourSunday" name="startAt" value="{{ noonHourSunday }}" class="start-at"> {{ noonHourSunday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center">
                                    {# Evening hours #}
                                    <div class="col-12 my-2" id="evening-monday">
                                        <p>Lundi soir:</p>
                                        {% for eveningHourMonday in eveningHoursMonday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="eveningHourMonday" name="startAt" value="{{ eveningHourMonday }}" class="start-at"> {{ eveningHourMonday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-tuesday">
                                        <p>Mardi soir:</p>
                                        {% for eveningHourTuesday in eveningHoursTuesday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="eveningHourTuesday" name="startAt" value="{{ eveningHourTuesday }}" class="start-at"> {{ eveningHourTuesday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-wednesday">
                                        <p>Mercredi soir:</p>
                                        {% for eveningHourWednesday in eveningHoursWednesday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="eveningHourWednesday" name="startAt" value="{{ eveningHourWednesday }}" class="start-at"> {{ eveningHourWednesday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-thursday">
                                        <p>Jeudi soir:</p>
                                        {% for eveningHourThursday in eveningHoursThursday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="eveningHourThursday" name="startAt" value="{{ eveningHourThursday }}" class="start-at"> {{ eveningHourThursday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-friday">
                                        <p>Vendredi soir:</p>
                                        {% for eveningHourFriday in eveningHoursFriday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="eveningHourFriday" name="startAt" value="{{ eveningHourFriday }}" class="start-at"> {{ eveningHourFriday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-saturday">
                                        <p>Samedi soir:</p>
                                        {% for eveningHourSaturday in eveningHoursSaturday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="eveningHourSaturday" name="startAt" value="{{ eveningHourSaturday }}" class="start-at"> {{ eveningHourSaturday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-sunday">
                                        <p>Dimanche soir:</p>
                                        {% for eveningHourSunday in eveningHoursSunday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="radio" id="eveningHourSunday" name="startAt" value="{{ eveningHourSunday }}" class="start-at"> {{ eveningHourSunday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>

                                <div class="row d-flex justify-content-center">
                                    {# Allergies #}
                                    <div class="col-12">
                                        {{ form_row(form.allergies) }}
                                    </div>
                                </div>
                                {# Save button #}
                                <div class="col text-center mt-4">
                                    <button class="btn btn-custom">Réserver</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>



    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{ asset('assets/javascript/booking.js') }}"></script>
    {% endblock %}

{% endblock main %}
