{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/booking.css') }}"> {% endblock css %}

{% block title %} Réservation {% endblock %}


{% block main %}

    {# Booking section #}

    <section id="booking">
        <div class="row booking-bg">
            {# Booking background image #}
            <article class="container h-100 my-4 my-md-5">

                <div class="row d-flex justify-content-center align-items-center text-white">
                    <div class="col-11 col-md-8 rounded form-bg m-1">
                        <div class="row form-content py-4 h-100 d-flex justify-content-center align-items-center mx-1">
                            <div class="col-12">

                                {# Title #}

                                <h2 class="text-center pb-4">Réservation</h2>
                            </div>

                            {# Booking form #}

                            <div class="col-12">
                                {{ form_start(form) }}
                                <div class="row d-flex justify-content-center">
                                    {# Number of guests #}
                                    <div class="col-md-6">
                                        {{ form_row(form.guest) }}
                                    </div>
                                    {# Day #}
                                    <div class="col-md-6 ">
                                        {{ form_row(form.bookedAt) }}
                                    </div>
                                </div>
                                <div class="hour"></div>

                                <div class="row d-flex justify-content-center">
                                    {# Noon hours #}
                                    <div class="col-12 my-2" id="noon-monday">
                                        <p>Lundi midi :</p>
                                        {% for noonHourMonday in noonHoursMonday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="noonHourMonday" name="startAt" value="{{ noonHourMonday }}"> {{ noonHourMonday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="col-12 my-2" id="noon-tuesday">
                                        <p>Mardi midi :</p>
                                        {% for noonHourTuesday in noonHoursTuesday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="noonHourTuesday" name="startAt" value="{{ noonHourTuesday }}"> {{ noonHourTuesday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-wednesday">
                                        <p>Mercredi midi :</p>
                                        {% for noonHourWednesday in noonHoursWednesday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="noonHourWednesday" name="startAt" value="{{ noonHourWednesday }}"> {{ noonHourWednesday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-thursday">
                                        <p>Jeudi midi :</p>
                                        {% for noonHourThursday in noonHoursThursday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="button">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="noonHourThursday" name="startAt" value="{{ noonHourThursday }}"> {{ noonHourThursday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-friday">
                                        <p>Vendredi midi :</p>
                                        {% for noonHourFriday in noonHoursFriday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="noonHourFriday" name="startAt" value="{{ noonHourFriday }}"> {{ noonHourFriday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-saturday">
                                        <p>Samedi midi :</p>
                                        {% for noonHourSaturday in noonHoursSaturday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="noonHourSaturday" name="startAt" value="{{ noonHourSaturday }}"> {{ noonHourSaturday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="noon-sunday">
                                        <p>Dimanche midi :</p>
                                        {% for noonHourSunday in noonHoursSunday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="noonHourSunday" name="startAt" value="{{ noonHourSunday }}"> {{ noonHourSunday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                                <div class="row d-flex justify-content-center">
                                    {# Evening hours #}
                                    <div class="col-12 my-2" id="evening-monday">
                                        <p>Lundi soir:</p>
                                        {% for eveningHourMonday in eveningHoursMonday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="eveningHourMonday" name="startAt" value="{{ eveningHourMonday }}"> {{ eveningHourMonday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-tuesday">
                                        <p>Mardi soir:</p>
                                        {% for eveningHourTuesday in eveningHoursTuesday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="eveningHourTuesday" name="startAt" value="{{ eveningHourTuesday }}"> {{ eveningHourTuesday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-wednesday">
                                        <p>Mercredi soir:</p>
                                        {% for eveningHourWednesday in eveningHoursWednesday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="eveningHourWednesday" name="startAt" value="{{ eveningHourWednesday }}"> {{ eveningHourWednesday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-thursday">
                                        <p>Jeudi soir:</p>
                                        {% for eveningHourThursday in eveningHoursThursday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="eveningHourThursday" name="startAt" value="{{ eveningHourThursday }}"> {{ eveningHourThursday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-friday">
                                        <p>Vendredi soir:</p>
                                        {% for eveningHourFriday in eveningHoursFriday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="eveningHourFriday" name="startAt" value="{{ eveningHourFriday }}"> {{ eveningHourFriday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-saturday">
                                        <p>Samedi soir:</p>
                                        {% for eveningHourSaturday in eveningHoursSaturday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="eveningHourSaturday" name="startAt" value="{{ eveningHourSaturday }}"> {{ eveningHourSaturday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 my-2" id="evening-sunday">
                                        <p>Dimanche soir:</p>
                                        {% for eveningHourSunday in eveningHoursSunday %}
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-hour mr-1 my-1">
                                                    <input type="checkbox" id="eveningHourSunday" name="startAt" value="{{ eveningHourSunday }}"> {{ eveningHourSunday }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>

                                <div class="row d-flex justify-content-center">
                                    {# Allergies #}
                                    <div class="col-12">
                                        {{ form_row(form.allergies) }}
                                    </div>
                                </div>
                                {# Save button #}
                                <div class="col text-center mt-4">
                                    <button class="btn btn-custom">Réserver</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>



    {% block javascripts %}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{ asset('assets/javascript/booking.js') }}"></script>
    {% endblock %}

{% endblock main %}
