{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/createUpdateDish.css') }}"> {% endblock css %}


{% block title %} Modification/création d'un plat {% endblock %}


{% block main %}

    {# Create or update a dish section #}

    <section id="update-dish">
        <div class="row update-dish">

            <article class="container my-4">
                <div class="row text-white d-flex justify-content-center mx-1">

                    {# Message flash #}

                    <div class="col-md-8 confirm-message text-center">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }} alert-dismissible fade show font-weight-bold" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <div class="col-md-10 form-bg rounded p-2 p-md-4 my-5">

                        {# Page title #}

                        <div class="col-12 py-3">
                            {% if isUpdated %}
                                <h1 class="page-title">Modification du plat {{ dish.title }}</h1>
                                <h2 class="text-center">Modification du plat : {{ dish.title }}</h2>
                            {% else %}
                                <h1 class="page-title">Création d'un plat</h1>
                                <h2 class="text-center">Création d'un plat</h2>
                            {% endif %}
                        </div>

                        {# Form #}

                        <div class="col-12">
                            {{ form_start(form) }}

                            <div class="row d-flex justify-content-center mb-3">
                                {# Display the image #}
                                <div class="col-md-2 mt-3 d-flex justify-content-center">
                                    <img src="{{ asset('assets/images/uploads/' ~ dish.image) }}" alt="{{ dish.title }}" class="rounded" style="width: 6rem">
                                </div>
                            </div>

                            <div class="row d-flex align-items-center ">
                                {# Title #}
                                <div class="col-md-6">
                                    {{ form_row(form.title) }}
                                </div>
                                {# Image #}
                                <div class="col-md-6">
                                    {{ form_row(form.imageFile) }}
                                </div>

                            </div>

                            <div class="row d-flex align-items-center">
                                {# Category #}
                                <div class="col-md-4">
                                    {{ form_row(form.category) }}
                                </div>
                                {# Price #}
                                <div class="col-md-2">
                                    {{ form_row(form.price) }}
                                </div>
                                {# Restaurant #}
                                <div class="col-md-2">
                                    {{ form_row(form.restaurant) }}
                                </div>
                                {# Favorite #}
                                <div class="col-md-2 mt-4">
                                    {{ form_row(form.favorite) }}
                                </div>
                                {# Active #}
                                <div class="col-md-2 mt-4">
                                    {{ form_row(form.active) }}
                                </div>
                            </div>

                            <div class="row d-flex align-items-center">
                                {# Description #}
                                <div class="col-md-6">
                                    {{ form_row(form.description) }}
                                </div>
                                {# Created at #}
                                <div class="col-md-6">
                                    {{ form_row(form.createdAt) }}
                                </div>
                            </div>

                            {# button #}
                            <div class="row d-flex">
                                <div class="col-12 d-flex justify-content-center my-4">
                                    {# Come back #}
                                    <a href="{{ path('app_admin_dish') }}" class="btn btn-custom mr-2">Revenir</a>
                                    {% if isUpdated %}
                                        {# Save the updatings #}
                                        <input type="submit" class="btn btn-admin ml-2" value="Modifier">
                                    {% else %}
                                        <input type="submit" class="btn btn-admin ml-2" value="Créer">
                                    {% endif  %}
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}
