{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/signup.css') }}"> {% endblock css %}

{% block title %} Créer un compte {% endblock %}

{% block main %}

    {# Sign-up section #}

    <section id="sign-up">
        <div class="row signup">

            <article class="container">
                <div class="row text-white d-flex justify-content-center mx-1">

                    <div class="col-12 form-bg rounded p-2 p-md-4 my-md-5">

                    {# Page title #}

                    <div class="col-12 py-3">
                        <h2 class="text-center">Créer un compte</h2>
                    </div>

                    {# Form #}

                    <div class="col-12">
                        {{ form_start(form) }}
                        <div class="row">
                            {# Firstname #}
                            <div class="col-md-6">
                                {{ form_row(form.firstname) }}
                            </div>
                            {# Lastname #}
                            <div class="col-md-6">
                                {{ form_row(form.lastname) }}
                            </div>
                        </div>
                        <div class="row">
                            {# Email #}
                            <div class="col-md-6">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            {# Guests number #}
                                            <div class="col-6">
                                                {{ form_row(form.guest) }}
                                            </div>
                                            {# Allergies #}
                                            <div class="col-6">
                                                {{ form_row(form.allergies) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {# Password #}
                            <div class="col-md-6">
                                {{ form_row(form.password.first) }}
                            </div>
                            {# Confirm Password #}
                            <div class="col-md-6">
                                {{ form_row(form.password.second) }}
                            </div>
                        </div>

                        {# Sign-up button #}
                        <div class="row">
                            <div class="col-12">
                                <p class="required-fields">* champs obligatoires</p>
                            </div>
                            <div class="col-12 d-flex justify-content-center my-3">
                                <input type="submit" class="btn btn-custom" value="S'enregistrer">
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}
