{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/signup.css') }}"> {% endblock css %}

{% block title %} Créer un compte {% endblock %}

{% block main %}

    {# Sign-up section #}

    <section id="sign-up">
        <div class="row signup">

            <article class="container">
                <div class="row text-white d-flex justify-content-center mx-1">
                    <div class="col-12 col-md-9 form-bg rounded p-2 p-md-4 my-md-5">

                    {# Title #}
                    <div class="col-12 py-3">
                        <h2 class="text-center">Créer un compte</h2>
                    </div>

                    {# Form #}
                    <div class="col-12">
                        {{ form_start(form) }}
                        <div class="row">
                            {# Firstname #}
                            <div class="col-md-6 mb-3">
                                <label>
                                    {{'form.firstname'|trans }}
                                </label>
                                {{ form_widget(form.firstname) }}
                                {{ form_errors(form.firstname) }}
                            </div>
                            {# Lastname #}
                            <div class="col-md-6 mb-3">
                                <label>
                                    {{'form.lastname'|trans }}
                                </label>
                                {{ form_widget(form.lastname) }}
                                {{ form_errors(form.lastname) }}
                            </div>
                        </div>
                        <div class="row">
                            {# Email #}
                            <div class="col-md-6 mb-3">
                                <label>
                                    {{'form.email'|trans }}
                                </label>
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            {# Guests number #}
                                            <div class="col-6">
                                                <label>
                                                    {{'form.guest'|trans }}
                                                </label>
                                                {{ form_widget(form.guest) }}
                                                {{ form_errors(form.guest) }}
                                            </div>
                                            {# Allergies #}
                                            <div class="col-6">
                                                <label>
                                                    {{'form.allergies'|trans }}
                                                </label>
                                                {{ form_widget(form.allergies) }}
                                                {{ form_errors(form.allergies) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {# Password #}
                            <div class="col-md-6 mb-3">
                                <label>
                                    {{'form.password.first'|trans }}
                                </label>
                                {{ form_widget(form.password.first) }}
                            </div>
                            {# Confirm Password #}
                            <div class="col-md-6 mb-3">
                                <label>
                                    {{'form.password.second'|trans }}
                                </label>
                                {{ form_widget(form.password.second) }}
                            </div>
                        </div>
                        {# CGU #}
                        <div class="row">
                            <div class="col-12">
                                <small class="required-fields">
                                    <span>* champs obligatoires</span><br/>
                                    <span class="text-muted">En cliquant sur S'enregistrer, vous acceptez les conditions générales d'utilisation.</span>
                                </small>
                            </div>
                            {# Sign-up button #}
                            <div class="col-12 d-flex justify-content-center my-3">
                                <input type="submit" class="btn btn-custom" value="S'enregistrer">
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}
