{# Footer #}

<footer class="container-fluid">

    <div class="row first-footer">
        <div class="col-12">
            <div class="container">
                <div class="row">

                    {# Menu #}
                    <div class="col-md-4 pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item"><h3><a href="{{ path('app_home') }}#top"><img src="{{ asset('assets/icons/logo-black.svg') }}" alt="Logo du site Le Quai Antique" width="200" title="Accueil"></a></h3></li>
                            <li class="nav-item mb-2"><a href="{{ path('app_food') }}" class="p-0 dark-link">La Carte</a></li>
                            <li class="nav-item mb-2"><a href="{{ path('app_menus') }}" class="p-0 dark-link">Menus</a></li>
                            <li class="nav-item mb-2"><a href="{{ path('app_booking') }}" class="p-0 dark-link">Réservation</a></li>
                            <li class="nav-item mb-2">
                                {# Login or Logout : Check if the user is logged-in #}
                                {% if not app.user %}
                                    <a href="{{ path('app_login') }}" class="mr-4"><img src="{{ asset('assets/icons/login-black.svg') }}" alt="Connexion" width="25" title="Connexion"></a>
                                {% else %}
                                    <a href="{{ path('app_account') }}" class="mr-1"><img src="{{ asset('assets/icons/account-black.svg') }}" alt="Mon compte" width="33" title="Mon compte"></a>
                                    <a href="{{ path('app_logout') }}" class="mr-4 mt-2"><img src="{{ asset('assets/icons/logout-black.svg') }}" alt="Déconnexion" width="25" title="Déconnexion"></a>
                                {% endif %}

                                {# Administration of the dishes & openning hours : Check if the admin is logged-in #}
                                {% if app.user and is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('app_admin_favoriteDishes') }}#gallery" class="mr-2">
                                        <img src="{{ asset('assets/icons/dish-dome-black.svg') }}" alt="Administration des plats favoris" width="20" title="Administrer les plats">
                                    </a>
                                    <a href="{{ path('app_admin_opening') }}" class="mr-2">
                                        <img src="{{ asset('assets/icons/hour-black.svg') }}" alt="Administration des horaires d'ouverture" width="20" title="Administrer les horaires">
                                    </a>
                                    <a href="{{ path('app_admin_booking') }}" class="mr-2">
                                        <img src="{{ asset('assets/icons/booking-black.svg') }}" alt="Administration des réservations" width="20" title="Administrer les réservations">
                                    </a>
                                {% endif %}
                            </li>

                        </ul>
                    </div>

                    {# Opening days and opening hours #}

                    <div class="col-md-4 pt-3 ">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2 d-flex align-items-center">
                                <h3 class="mr-4">Horaires</h3>
                            </li>
                                <li class="nav-item mb-2">
                                    <span class="font-weight-bold">{{ openingDay[0]|capitalize }} :</span>
                                    {% if openingHoursMonday == closed %}
                                        <span class="font-weight-bold">{{ openingHoursMonday }}</span>
                                    {% else %}
                                        <span >{{ openingHoursMonday }}</span>
                                    {% endif %}
                                </li>
                                <li class="nav-item mb-2">
                                    <span class="font-weight-bold">{{ openingDay[1]|capitalize }} :</span>
                                    {% if openingHoursTuesday == closed %}
                                        <span class="font-weight-bold">{{ openingHoursTuesday }}</span>
                                    {% else %}
                                            <span >{{ openingHoursTuesday }}</span>
                                    {% endif %}
                                </li>
                                <li class="nav-item mb-2">
                                    <span class="font-weight-bold">{{ openingDay[2]|capitalize }} :</span>
                                    {% if openingHoursWednesday == closed %}
                                        <span class="font-weight-bold">{{ openingHoursWednesday }}</span>
                                    {% else %}
                                        <span >{{ openingHoursWednesday  }}</span>
                                    {% endif %}
                                </li>
                                <li class="nav-item mb-2">
                                    <span class="font-weight-bold">{{ openingDay[3]|capitalize }} :</span>
                                    {% if openingHoursThirsday == closed %}
                                        <span class="font-weight-bold">{{ openingHoursThirsday }}</span>
                                    {% else %}
                                        <span >{{ openingHoursThirsday }}</span>
                                    {% endif %}
                                </li>
                                <li class="nav-item mb-2">
                                    <span class="font-weight-bold">{{ openingDay[4]|capitalize }} :</span>
                                    {% if openingHoursFriday == closed %}
                                        <span class="font-weight-bold">{{ openingHoursFriday }}</span>
                                    {% else %}
                                        <span >{{ openingHoursFriday }}</span>
                                    {% endif %}
                                </li>
                                <li class="nav-item mb-2">
                                    <span class="font-weight-bold">{{ openingDay[5]|capitalize }} :</span>
                                    {% if openingHoursSaturday == closed %}
                                        <span class="font-weight-bold">{{ openingHoursSaturday }}</span>
                                    {% else %}
                                        <span >{{ openingHoursSaturday }}</span>
                                    {% endif %}
                                </li>
                                <li class="nav-item mb-2">
                                    <span class="font-weight-bold">{{ openingDay[6]|capitalize }} :</span>
                                    {% if openingHoursSunday == closed %}
                                        <span class="font-weight-bold">{{ openingHoursSunday }}</span>
                                    {% else %}
                                        <span >{{ openingHoursSunday }}</span>
                                    {% endif %}
                                </li>
                        </ul>
                    </div>

                    {# Informations #}
                    <div class="col-md-4 py-3 ">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><h3>Informations</h3></li>
                            <li class="nav-item mb-2">{{ restaurant.address }}</li>
                            <li class="nav-item mb-2">{{ restaurant.zipcode }} {{ restaurant.city }}</li>
                            <li class="nav-item mb-2">
                                <a href="tel:0479602626" class="dark-link"><img src="{{ asset('assets/icons/phone.svg') }}" alt="numéro de téléphone du restaurant" width="15"><span class="ml-1">{{ restaurant.phone }}</span></a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="mailto:quai-antique@infos-restaurant.com" class="dark-link"><img src="{{ asset('assets/icons/email.svg') }}" alt="email du restaurant" width="15"><span class="ml-1">{{ restaurant.email }}</span></a>
                            </li>
                            <li class="nav-item mb-2 d-flex">
                                <img src="{{ asset('assets/icons/disabled.svg') }}" alt="accès handicapés" width="20"><span class="ml-1">Accès handicapé</span>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#locationModal">
                                    <img src="{{ asset('assets/icons/location.svg') }}" alt="localisation sur une carte" width="20"><span class="ml-1 dark-link">Voir la carte</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {# Copyright & social links #}

    <div class="row second-footer pt-3">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-between">
                        <p class="text-white mr-3">
                            Tous droits réservés © 2023 Le Quai Antique|
                            <a href="#" target="_blank">Mentions légales|</a>
                            <a href="#" target="_blank">CGU</a>
                        </p>
                        <ul class="list-unstyled d-flex">
                            <li class="ml-1"><a href="#" target="_blank"><img src="{{ asset('assets/icons/facebook.svg') }}" alt="logo de Facebook" width="25"></a></li>
                            <li class="ml-1"><a href="#" target="_blank"><img src="{{ asset('assets/icons/instagram.svg') }}" alt="logo d'Instagram'" width="25"></a></li>
                            <li class="ml-1"><a href="#" target="_blank"><img src="{{ asset('assets/icons/twitter.svg') }}" alt="logo de Twitter" width="25"></a></li>
                            <li class="ml-3"><a href="{{ path('app_home') }}#top"><img src="{{ asset('assets/icons/top.svg') }}" alt="flèche pour un retour en haut de la page" width="25"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>


<!-- Modal location (footer) -->

<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="locationModalLabel">Localisation</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1396.5515348967672!2d5.919603758164285!3d45.56836587247764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ba8f8512e4f91%3A0xde184b44137abff7!2s5%20Quai%20du%20Jeu%20de%20Paume%2C%2073000%20Chamb%C3%A9ry!5e0!3m2!1sfr!2sfr!4v1675443000453!5m2!1sfr!2sfr" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


